<form class="form-inline">
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ></div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<input id="address" type="text" class="form-control input-lg" ng-model="weather.address" placeholder="Address, City/State, or Zip">
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ></div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ></div>

		<button type="submit" class="btn btn-primary col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="weather.getCurrentWeatherByAddress(weather.address)">Current</button>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ></div>

		<button type="submit" class="btn btn-primary col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="weather.getHourWeatherByAddress(weather.address)">Hourly</button>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ></div>

		<button type="submit" class="btn btn-primary col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="weather.getDayWeatherByAddress(weather.address)">Daily</button>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ></div>

	</div>
</form>


<br/>
<hr/>
<currently ng-if="weather.selection=='currently'"></currently>


<div class="hourly_container row" ng-repeat="hour in weather.data.hourly.data	" ng-if="(($index % 3) == 0)" ng-if="weather.selection=='hourly'">
	<hourly ng-if="weather.selection=='hourly'"></hourly>
</div>

<div clas="daily_container row" ng-repeat="day in weather.data.daily.data" ng-if="weather.selection=='daily'">
	<daily ng-if="weather.selection=='daily'"></daily>
</div>